$color-background: #ebe9eb;
$color-foreground: #fbf7f8;
$color-font-black: #363c4c;
$color-font-black-dark: #000;
$color-font-grey: #666666;
$color-red: #ff6835;
$color-lavender: #adbffd;



$color-white: #fff;
$color-black: #363c4c;
$color-font: #000;

$color-secondary: #155ce7;
$color-tertiary: #000;
$color-green: #009b5f;

$color-pink: #f5cbc4;

$color-brown: #a67d48;
$color-beige: #e8e1d9;
$color-bordeaux: #87292f;
$color-grey: #929292;

$color-placeholder: #f1f4f4;
$color-success: #27b211;
$color-warning: #f3d03e;
$color-alert: #e74f4f;
