/* Colors */
$color-default-bg: #fdfaf3;
$color-default-text: #333333;
$color-accent: #333333;
$color-grey: #666666;
$color-black: #333333;
$color-white: #fdfaf3;
$hover: #333333;

$font-weight-bold: 600;
$font-weight-normal: 200;

$font-size-heading-l: 2rem;
$font-size-heading-s: 1rem;

$border: 1px solid $color-black;
$border-light: 1px solid $color-white;
$overlay: rgba(0, 0, 0, 0.495);

/* Text */
$font-primary: neue-haas-grotesk, sans-serif;
$font-secondary: neue-haas-grotesk, sans-serif;
$letter-spacing-small: 0px;
$letter-spacing-large: 0px;

/* Margins */
$margin-xs: 8px;
$margin-s: 16px;
$margin-m: 24px;
$margin-l: 32px;
$margin-xl: 40px;
$margin-xxl: 72px;

/* Paddings */
$padding-xs: 8px;
$padding-s: 16px;
$padding-m: 24px;
$padding-l: 32px;
$padding-xl: 40px;
$padding-xxl: 72px;
