@import "../Variables.scss";
@import "../Mixins.scss";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.3rem;

  p {
    padding: 0rem 0.5rem;
  }

  button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0rem;
    margin: 0rem;
    background: none;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
    background: radial-gradient(circle, #9198e5 -40%, transparent 70%);
  }
}
