@import "../Variables.scss";
@import "../Mixins.scss";

form {
  display: flex;
  justify-content: center;
  align-items: center;

  .search-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid $color-black;
    font-size: 0.4rem;
    
    @include tablet {
      font-size: 0.8rem;
    }

    @include desktop {
      font-size: 1rem;
    }
  }

  input[type="text"]:focus {
    background: transparant;
    outline: none;
  }
}
