@import "../Variables.scss";
@import "../Mixins.scss";

.field {
  width: 100%;
  height: 1.5rem;

  input {
    height: 1.5rem;
    border: none;
    border-bottom: 1px solid black;
    line-height: normal;
    outline: none;
    background: none;
    width: 100%;
    /* 
    &::placeholder {
      color: red;
    } */
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}
