@import "../Variables.scss";
@import "../Mixins.scss";

.search-input {
  border-bottom: 1px solid $color-black;
  margin: 0.5rem;
  input[type="text"] {
    background: transparent;
    font-size: 1.2rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    background: $color-white;
    line-height: 30px;
    border: none;
    color: $color-black;
  }

  input[type="text"]:focus {
    background: $color-white;
    outline: none;
  }
}
