@import "./scss/Variables.scss";
@import "./scss/Mixins.scss";

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  /*   font-family: neue-kabel, sans-serif; */
  font-family: neue-haas-unica, sans-serif;

  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-weight: 400;
}
