@import "../Variables.scss";
@import "../Mixins.scss";

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30vh;

  @include tablet {
    justify-content: space-between;
    margin-top: 0vh;
  }

  @include desktop {
    width: 100%;
  }

  .item-1,
  .item-2,
  .item-3 {
    margin: 0.6rem;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -2px;
    @include tablet {
      font-size: 2rem;
    }
  }

  .item-2 {
    a {
      font-size: 2.5;
    }
  }

  img {
    object-fit: contain;
    width: 130px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    @include tablet {
      width: 200px;
    }

    @include desktop {
      width: 400px;
    }

    &:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
}
