@import "../abstracts/Breakpoints.scss";
@import "../abstracts/Settings.scss";

.button {
  /*   width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(circle, #9198e5 -40%, transparent 70%);
  transition: transform 0.4s;
  &:hover {
    transform: scale(1.1);
  }

  @include tablet {
    font-size: 2rem;
  } */
}
