@import "../abstracts/Breakpoints.scss";
@import "../abstracts/Settings.scss";

.card {
  cursor: pointer;
  @include tablet {
  }

  .card-content-wrapper {
    padding: $padding-s;
  }

  .img-wrapper {
    border: $border;
    img {
      margin: 0 auto;
      object-fit: cover;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: 0.4s ease;
      transition: 0.4s ease;

      &:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        transform: scale(1.01);
      }
    }
  }

  .card-title {
    padding-top: $padding-l;
    h4 {
      font-size: 0.7rem;
      letter-spacing: 0px;
      @include desktop-lg {
      }
    }
  }
}
