@import "../abstracts/Breakpoints.scss";
@import "../abstracts/Settings.scss";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: $margin-xl 0;

  .previous,
  .next {
    padding: 0.3rem 1.5rem;
    font-size: 0.7rem;
  }
}
