@import "../abstracts/Breakpoints.scss";
@import "../abstracts/Settings.scss";

body.overflow-hidden {
  overflow: hidden;
}
.overlay {
  background: $overlay;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 6vh;
  z-index: 10;
}
.search-field {
  background: $color-black;
  position: fixed;
  left: 0;
  right: 0;
  top: 6vh;
  z-index: 11;
  height: 30vh;
  display: flex;
  align-items: center;

  form {
    width: 80%;
    margin: 0 auto;
  }

  input {
    border-bottom: 1px solid $color-white;
    background: $color-black;
    font-size: 1.6rem;
    color: $color-white;

    @include tablet {
      font-size: 2rem;
    }

    &::placeholder {
      text-transform: uppercase;
      color: $color-white;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  p {
    font-size: 0.5rem;
    color: $color-white;
    padding-left: $padding-xs;
    padding-top: $padding-s;
  }
}
