@import "../../abstracts/Breakpoints.scss";
@import "../../abstracts/Settings.scss";

.back-button {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  width: 100%;
  border-bottom: $border;
  padding: $padding-s;
  
  svg {
    margin-right: $margin-xs;
    margin-bottom: 2px;
  }
}
