@import "../../abstracts/Breakpoints.scss";
@import "../../abstracts/Settings.scss";
@import "../../abstracts/Mixins.scss";

.card {
  cursor: pointer;
  height: 100%;

  @include tablet {
    display: grid;
    grid-template-areas:
      "title title"
      "img  details";
  }
  &-top {
    height: 8vh;
    display: flex;
    align-items: center;
    font-size: $font-size-heading-m;

    @include tablet {
      height: 5vh;
      grid-area: title;
      font-size: $font-size-heading-s;
    }

    &-release {
      font-size: 0.8rem;
    }

    border-bottom: $border;
    padding: 0rem $padding-s;

    @include tablet {
      &:hover {
        background: linear-gradient(90deg, #aea4e3, #d3ffe8);
      }
    }
  }

  &-left {
    position: relative;
    padding-bottom: 130%;
    height: 0;
    overflow: hidden;

    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: saturate(50%);
    }
    @include tablet {
      grid-area: img;
      border-right: $border;
    }
  }

  &-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    @include tablet {
      grid-area: details;
    }
    font-size: 0.8rem;
    padding: $padding-s;

    &-bottom {
      display: flex;
      justify-content: space-between;

      &-votes {
        position: relative;
        color: $color-white;
        margin-right: $padding-xs;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border: $border;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background: $color-black;
          z-index: -1;

          @include tablet {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}
