@import "../Variables.scss";
@import "../Mixins.scss";

.button {
  outline: none;
  background: none;
  border: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  cursor: pointer;

  @include desktop {
    font-size: 2rem;
  }
}
