@import "../Variables.scss";
@import "../Mixins.scss";

.card {
  position: relative;
  cursor: pointer;

  .card-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-title {
    h2 {
      font-size: 0.8rem;
      color: $color-black;
      margin-top: 0.5rem;
      text-transform: uppercase;
      @include desktop {
      }
    }
  }

  .hover-content {
    position: absolute;
    top: 0;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    background: $color-blue;

    cursor: pointer;
    p {
      font-size: 0.8rem;
      color: $color-white;
    }

    .details-wrapper {
      display: flex;
      justify-content: space-between;

      .sub-title {
        color: $color-white;
        font-size: 0.6rem;
      }
    }

    .cta-wrapper,
    .cta {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    > * {
      padding: 1.5rem;
    }
  }

  &:hover .hover-content {
    opacity: 1;
  }
}
