@import "../Variables.scss";
@import "../Mixins.scss";

.card {
  cursor: pointer;
  overflow: hidden;

  .card-img {
    overflow: hidden;
    display: inline-block;

    img {
      width: 100%;
      height: 100%;

      @include desktop {
        width: 100%;
        height: 30vw;
        object-fit: cover;
        display: block;
        transition: transform 0.4s;
      }

      &:hover {
        transform: scale(1.1);
        transform-origin: 50% 50%;
      }
    }
  }

  .card-title {
    h2 {
      font-size: 1rem;
      color: $color-black;
      margin-top: 0.5rem;
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: -1px;
      @include desktop {
      }
    }
  }
}
