@import "../../abstracts/Breakpoints.scss";
@import "../../abstracts/Settings.scss";

body.site-navigation-expanded {
  overflow: hidden;
}

.site-navigation {
  text-transform: uppercase;

  .expanded-menu-color {
    /* color: $color-white; */
  }

  &-controls {
    display: flex;
    height: 6vh;
    z-index: 100;

    button {
      z-index: 20;
      border: $border;
      width: 100%;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    padding-top: 6vh;
  }

  &-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;

    a {
      width: 100%;
    }

    svg,
    a,
    p {
      padding: $padding-s;
      font-weight: normal;
    }

    svg {
      stroke: $color-black;
      stroke-width: 1;
    }

    &:hover {
      background: $color-black;
      color: $color-white;
      cursor: pointer;
      svg {
        stroke: $color-white;
      }
    }

    &:not(:last-child) {
      border-bottom: $border;
    }

    &-submenu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      padding: $padding-s;
      box-sizing: border-box;

      & > * {
        padding: 0.2rem;
        font-size: 0.6rem;

        &:hover {
          background: $color-black;
          color: $color-white;
          cursor: pointer;
        }
      }

      @include desktop {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }

  &-dropdown {
    background: $color-white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;
  }

  &-overlay_show {
    background: $overlay;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
  }
}
