@import "../../abstracts/Breakpoints.scss";
@import "../../abstracts/Settings.scss";

body.site-navigation-expanded {
  overflow: hidden;
}

.site-navigation {
  text-transform: uppercase;
  color: $color-black;
  z-index: 3;

  &-controls {
    background: $color-default-bg;
    display: flex;
    z-index: 14;
    position: fixed;
    width: 100%;
    top: 0;

    button {
      z-index: 20;
      border: $border;
      width: 100%;
      font-size: 0.7rem;
      padding: $padding-xs;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    padding-top: 0;
  }

  &-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    transition: 0.2s;

    a {
      width: 100%;
    }

    svg,
    a,
    p {
      padding: 0 $padding-xs;
      font-weight: normal;
    }

    svg {
      stroke: $color-black;
      stroke-width: 1;
    }

    &:hover {
      background: $color-black;
      color: $color-white;
      cursor: pointer;
      svg {
        stroke: $color-white;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-black;
    }

    &-submenu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      padding: $padding-s;
      box-sizing: border-box;

      & > * {
        padding: 0.2rem;
        font-size: 0.7rem;

        &:hover {
          background: $color-black;
          color: $color-white;
          cursor: pointer;
        }
      }

      @include desktop {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }

  &-dropdown {
    position: fixed;
    left: 0;
    right: 0;
    top: 4.4vh;
    z-index: 11;
    background: $color-white;
  }

  &-overlay_show {
    background: $overlay;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 7vh;
    z-index: 10;
  }
}
