@import "../../abstracts/Breakpoints.scss";
@import "../../abstracts/Settings.scss";

.page-grid {
  .page-grid-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    box-sizing: border-box;

    & > * {
      margin: -1px 0 0 -1px;
      border: $border;
    }
  }
}
